// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*{
  font-family: "Raleway", sans-serif;
}

#submitButton {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 50%;
}

.link-register {
  align-items: center;
  text-align: center;
}

.login-link {
  align-items: center;
  text-align: center;
  padding-top: 1px;
}

.link-register a {
  text-decoration: none;
}

.login-link a {
  text-decoration: none;
}

#title{
  font-weight: 700;
  color: white;
}

#navbarBackground{
  background-color: blueviolet;
  
}

#Navlink{
  color: white;
  transition: 0.7s;
}

#Navlink:hover {
  color: yellow;
}

.ContactPageBody{
  background-image: url('https://images.sbs.com.au/dims4/default/6fffa06/2147483647/strip/true/crop/6000x3375+0+194/resize/1280x720!/quality/90/?url=http%3A%2F%2Fsbs-au-brightspot.s3.amazonaws.com%2Fe2%2Fde%2Fc8348dd641c3b707a14ea1f7ddba%2Fperson-voting.jpg');
  background-size: cover; 
  background-repeat: no-repeat;

}

.contactBackground{
  background-color: white;
  height: 200px;
  width: 700px;
  justify-content: center;
  
}

.homepage_user.body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(frontend\image\MMU.jpeg);
  background-position: center;
  background-size: cover;

}

.homepage_user_content{
  width: auto;
  height: auto;
  margin: auto;
  color: #000000;
  position: relative;

}

.announcement{
  text-align: center;
}