<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting Home</title>
    <link rel="stylesheet" href="../static/styles.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<!--<h1>Welcome user! You have login!</h1>-->
<body class="home-pageWallpaper">
    <nav id="navbarBackground" class="navbar navbar-expand-lg">
     
    </nav>

    <h1 class="text-center text-white p-5">Candidate Bio</h1>
    
    <div class="container">
        <div class="candidate_photo">
            {% if candidate.candidate_photo_filename == 'candidate_image.jpg' %}
            <img class="rounded-circle" src="{{ url_for('static', filename='candidate_profile_pics/candidate_image.jpg') }}" alt="candidate image" style="height: 200px; width: 200px; margin-top: 20px; margin-bottom: 10px; margin-left: 43%;">
            {% else %}
            <img class="rounded-circle" src="{{ url_for('static', filename='candidate_profile_pics/' + candidate.candidate_photo_filename) }}" alt="candidate image" style="height: 200px; width: 200px; margin-top: 20px; margin-bottom: 10px; margin-left: 43%;">
            {% endif %}
        </div>
    <div class="candidate_name">
        <p class="text-white display-6">Name: <a style="text-decoration: none; color: white;" href="{{url_for('candidate_biodata' , candidate_id = candidate.id )}}">{{ candidate.candidate_name }}</a></p>
      </div>
      <div class="candidate_ID">
          <p class="text-white display-6">Student ID: {{ candidate.candidate_id }}</p>
      </div>
      <div class="candidate_faculty">
          <p class="text-white display-6">Faculty: {{ candidate.candidate_faculty }}</p>
      </div>
      <div class="candidate_academic_level">
          <p class="text-white display-6">Academic Level: {{ candidate.candidate_level }}</p>
      </div>
      <div class="candidate_quote">
          <p class="text-white display-6">Quote: {{ candidate.candidate_quote }}</p>
      </div>
    </div>

    <div class="candidate_position mb-3">
        <p class="text-white display-6">Qualifications: <br>{{ candidate.candidate_qualifications }}</p>
    </div>

    <div class="candidate_position mb-3">
        <p class="text-white display-6">Achievements: <br>{{ candidate.candidate_achievements }}</p>
    </div>

      <div class="candidate_resume">
        <p class="text-white display-6">Resume: </p>
        {% if candidate.candidate_resume == 'None' %}
            <p class="text-white display-7">No resume available</p>
        {% else %}
        <a href="{{ url_for('static', filename='candidate_resume/' + candidate.candidate_resume) }}" target="_blank">
            <img class="candidate_resume_image" src="{{ url_for('static', filename='candidate_resume/' + candidate.candidate_resume) }}" alt="candidate resume">
        </a>
        {% endif %}
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{ candidate.candidate_manifesto }}" allowfullscreen></iframe>
      </div>
     
    </div>


    

   

 
    <!-- <div class="icon">
        <a href="www.com"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="www.com"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="www.com"><ion-icon name="logo-discord"></ion-icon></a>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script> -->

</body>
</html>